:host {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.register {
    flex-grow: 1;

    @media (max-width: 500px) {
        width: 100%;
        margin: 3em;
    }

    @media (min-width: 500px) {
        max-width: 500px;
    }


}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.register-form mat-form-field {
      width: 100%;
  }

.register-form button.submit {
      margin-left: auto;
  }
