<mat-card class="register">
    <mat-card-header><h1>Minimal Repro - Thanks for the Help</h1></mat-card-header>
    <mat-card-content>
        <form class="register-form">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{getErrorMessage("password")}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" [formControl]="passwordConfirm" required>
                <mat-error *ngIf="passwordConfirm.invalid || formGroup.invalid">{{getPasswordConfirmErrorMessage()}}</mat-error>
            </mat-form-field>

            <button mat-raised-button class="submit" color="primary" (click)="submitForm()">Register</button>
        </form>
    </mat-card-content>
</mat-card>

